<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Encryption/Decryption</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/matrix-rain.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <canvas id="matrixCanvas"></canvas>

    <h1>Text Encryption/Decryption</h1>

    <form id="crypto-form">
        <label for="text">Text:</label>
        <textarea id="text" name="text" rows="4" cols="50"></textarea>

        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <br>

        <label for="algorithm">Algorithm:</label>
        <select id="algorithm" name="algorithm">
            <option value="AES">AES</option>
            <option value="RSA">RSA</option>
        </select>

        <br>

        <label for="operation">Operation:</label>
        <select id="operation" name="operation">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
        </select>

        <br>

        <button type="button" onclick="submitForm()">Submit</button>
    </form>



    <div class="result-container">
        <pre id="result"></pre>
    </div>
    

    <script>
        function submitForm() {
            var form = document.getElementById("crypto-form");
            var formData = new FormData(form);
    
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var result = JSON.parse(xhr.responseText);
                    var resultDiv = document.getElementById("result");
    
                    if (result.error) {
                        resultDiv.innerText = result.error;
                    } else {
                        if (result.result) {
                            resultDiv.innerHTML = result.result;
                        } else if (result.cipher_text && result.private_key) {
                            var cipherTextDiv = document.createElement("div");
                    cipherTextDiv.innerHTML = "Cipher Text: " + result.cipher_text;
                    resultDiv.appendChild(cipherTextDiv);

                    // Create div for private key
                    var privateKeyDiv = document.createElement("div");
                    privateKeyDiv.innerHTML = "Private Key: " + result.private_key;
                    resultDiv.appendChild(privateKeyDiv);

                        }
                    }
                }
            };
            xhr.send(formData);
        }
    </script>
    <script>
        $(document).ready(function () {
            // Start Matrix rain animation when the document is ready
            MatrixRain.init('matrixCanvas');
        });
    </script>
    
</body>

</html>
